@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2bc72d3c-39ce-45f3-a55c-e0903291ace0/d17dpy4-a8d0b94a-0351-4d9b-9636-33cc1842f0d2.jpg/v1/fill/w_600,h_486,q_75,strp/background_art_for_pokemon_by_orangedroplet_d17dpy4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDg2IiwicGF0aCI6IlwvZlwvMmJjNzJkM2MtMzljZS00NWYzLWE1NWMtZTA5MDMyOTFhY2UwXC9kMTdkcHk0LWE4ZDBiOTRhLTAzNTEtNGQ5Yi05NjM2LTMzY2MxODQyZjBkMi5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Xa7d7pbU0rU7MNWAomQrAPKjMwYxdB82ALLKMZO_pOs);
  background-repeat: no-repeat;
  background-size: 100%;
}

h2{
  margin-bottom: 30px;
  font-size: 2.5em;
}

.box{
  position: relative;
  width: 1200px;
  height: 400px;
  /*background: #000;*/
  border-bottom: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box label{
  position: relative;
  width: 100%;
  height: 33.333%;
  border: 2px solid #555;
  border-bottom: none;
}

.box label input {
  position: relative;
  appearance: none;
  z-index: 10 ;
}

.box label i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 600px;
  cursor: pointer;
}

.box label:nth-child(1) i{
  background: url(01-pokebola.jpg);
  animation: animate 0.5s steps(3) infinite;
}
.box label:nth-child(2) i{
  background: url(02-pokebola.jpg);
  animation: animate 0.4s steps(3) infinite;
}
.box label:nth-child(3) i{
  background: url(03-pokebola.jpg);
  animation: animate 0.7s steps(3) infinite;
  left: 10px;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1200px;
  }
}

.box label input:checked ~ i {
  animation-play-state: paused;
}

.reset{
  margin-top: 40px;
  border: none;
  font-size: 1.25em;
  padding: 10px 25px;
  background: #333;
  color: #fff;
  cursor: pointer
}

.reset:active{
  background: #d63c3c;
  transform: scale(0.95);
}